
/***
    Core Button Styles
***/
.yui3-button {
	-moz-border-radius: 0.4em;
	-webkit-border-radius: 0.4em;
	border:solid 1px;
	font-size:1em;
	height: 2em;
	position: relative;
	text-align:center;
    cursor:pointer;
    display: inline-block;
    line-height: 2em;
    margin: 1em;
    padding: 0 1em;
}

.yui3-button-back {
	-moz-border-radius: 0 0.4em 0.4em 0;
	-webkit-border-radius: 0 0.4em 0.4em 0;
	margin-left:32px;
}

.yui3-button-back:before {
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	border-bottom-color: transparent;
	border-radius: 0.2em 0 30px 0;
	border-right-color: transparent;
	border-style: solid;
	border-width: 1px 0 0 1px;
	content: "";
	height: 1.44em;
	left: -0.82em;
	position: absolute;
	top: 0.27em;
	width: 1.44em;
}

.yui3-button:hover {
    border-style: solid;
    border-width: 1px;
}

.yui3-button-icon {
    background-repeat: no-repeat;
    background-position: 0 -354px;
    width:20px;
    height:20px;
    vertical-align:middle;
    display: inline-block;
}

.yui3-button-disabled,
.yui3-button-disabled:hover{
    cursor:default;
}
.yui3-button-disabled .yui3-button-icon {
    opacity: .3;
    filter: alpha(opacity=30);
}

/***
    Icons
***/
/* individual images are spaced 36px vertial top to top */
.yui3-button-icon-bold .yui3-icon {background-position: 0 2px;}
.yui3-button-icon-strikethrough {background-position: 0 -109px;}
.yui3-button-icon-italic .yui3-icon {background-position: 0 -30px;}
.yui3-button-icon-underline .yui3-icon {background-position: 0 -66px;}
.yui3-button-icon-subscript .yui3-icon {background-position: 0 -174px;}
.yui3-button-icon-superscript .yui3-icon {background-position: 0 -138px;}
.yui3-button-icon-forecolor .yui3-icon {background-position: 0 -210px;}
.yui3-button-icon-backcolor .yui3-icon {background-position: 0 -282px;}
.yui3-button-icon-justifyleft .yui3-icon {background-position: 0 -318px;}
.yui3-button-icon-justifycenter .yui3-icon {background-position: 0 -354px;}
.yui3-button-icon-justifyright .yui3-icon {background-position: 0 -390px;}
.yui3-button-icon-justifyfull .yui3-icon {background-position: 0 -426px;}
.yui3-button-icon-indent .yui3-icon {background-position: 0 -714px;}
.yui3-button-icon-outdent .yui3-icon {background-position: 0 -678px;}
.yui3-button-icon-createlink .yui3-icon {background-position: 0 -786px;}
.yui3-button-icon-insertimage .yui3-icon {background-position: 1px -750px;}
.yui3-button-icon-left .yui3-icon {background-position: 0 -966px;}
.yui3-button-icon-right .yui3-icon {background-position: 0 -930px;}
.yui3-button-icon-inline .yui3-icon {background-position: 0 -894px;}
.yui3-button-icon-block .yui3-icon {background-position: 0 -858px;}
.yui3-button-icon-bordercolor .yui3-icon {background-position: 0 -246px;}
.yui3-button-icon-removeformat .yui3-icon {background-position: 0 -1074px;}
.yui3-button-icon-hiddenelements .yui3-icon {background-position: 0 -1038px;}
.yui3-button-icon-insertunorderedlist .yui3-icon {background-position: 0 -462px;}
.yui3-button-icon-insertorderedlist .yui3-icon {background-position: 0 -498px;}


/***
    Skin: Sam
***/
.yui3-skin-sam .yui3-button {
    color:#000;
    background: -moz-linear-gradient(
        0% 100% 90deg, 
        #d8d8da 18%,
        #f1f2f2 50%,
        #fff 100%
    );
    background: -webkit-gradient(
        linear, left bottom, left top,
        from(#d8d8da),
        color-stop(0.18, #d8d8da),
        color-stop(0.5, #f1f2f2),
        to(#fff)     
    );
    background-color:#ececed;
    border-color: #808080;
}

.yui3-skin-sam .yui3-button-back:before {
    background: -moz-linear-gradient(
        0% 100% 45deg, 
        #d8d8da 18%,
        #f1f2f2 50%,
        #fff 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from(#d8d8da),
        color-stop(0.18, #d8d8da),
        color-stop(0.5, #f1f2f2),
        to(#fff)     
    );
    border-color: #808080;
}

.yui3-skin-sam .yui3-button:hover {
    background-color: #d7e8ff;
    background: -moz-linear-gradient(
        0% 100% 90deg, 
        #bfdaff 0%,
        #dfedff 50%,
        #e8f2ff 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#bfdaff),
        color-stop(0.5, #dfedff),
        to(#e8f2ff)     
    );
    border-color: #7d98b8;
}

.yui3-skin-sam .yui3-button-back:hover:before {
    background: -moz-linear-gradient(
        0% 100% 45deg, 
        #bfdaff 0%,
        #dfedff 50%,
        #e8f2ff 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from(#bfdaff),
        color-stop(0.5, #dfedff),
        to(#e8f2ff)     
    );
    border-color: #7d98b8;
}

.yui3-skin-sam .yui3-button-selected,
.yui3-skin-sam .yui3-button-selected:hover {
    color:#fff;
    background-color:#2B2D2D;
    background: -moz-linear-gradient(
        0% 100% 90deg, 
        #2647a0 7%,
        #3d67ce 50%,
        #426fd9 100%
    );
    background: -webkit-gradient(
        linear,                                           
        left bottom,
        left top,
        from(#2647a0),
        color-stop(0.07, #2647a0),
        color-stop(0.5, #3d67ce),
        to(#426fd9)     
    );
}

.yui3-skin-sam .yui3-button-selected.yui3-button-back:before {
    background: -moz-linear-gradient(
        0% 100% 45deg, 
        #2647a0 7%,
        #3d67ce 50%,
        #426fd9 100%
    );
    background: -webkit-gradient(
        linear,                                           
        left bottom,
        right top,
        from(#2647a0),
        color-stop(0.07, #2647a0),
        color-stop(0.5, #3d67ce),
        to(#426fd9)     
    );
}

.yui3-skin-sam .yui3-button-disabled,
.yui3-skin-sam .yui3-button-disabled:hover{
    color: #ccc;
    border-color: #ccc;
    background: -moz-linear-gradient(
        0% 100% 90deg, 
        #e6e6e7 18%,
        #fbfbfb 50%,
        #fff 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#e6e6e7),
        color-stop(0.18, #e6e6e7),
        color-stop(0.5, #fbfbfb),
        to(#fff)     
    );
    cursor: default;
}

.yui3-skin-sam .yui3-button-disabled.yui3-button-back:before {
    border-color: #ccc;
    background: -moz-linear-gradient(
        0% 100% 45deg, 
        #e6e6e7 18%,
        #fbfbfb 50%,
        #fff 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from(#e6e6e7),
        color-stop(0.18, #e6e6e7),
        color-stop(0.5, #fbfbfb),
        to(#fff)  
    );
}

.yui3-skin-sam .yui3-button-icon {
    background-image: url("../assets/sam_icons.gif");
}

/***
    Skin: Night
***/
.yui3-skin-night,
.yui3-skin-night a,
.yui3-skin-night button,
.yui3-skin-night input {
    color:#fff;
}
.yui3-skin-night {
    background-color:#000;
}

.yui3-skin-night .yui3-button-back:before {
	background: -moz-linear-gradient(
		0% 100% 45deg, 
		#343536 0%,
		#555658 96%,
		#3E3F41 100%
	);
    background: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from(#343536),
        color-stop(0.96, #555658),
        to(#3E3F41)     
    );
    border-color: #0c0c0c;
}

.yui3-skin-night .yui3-button:hover {
	background-color:#424244;

	background: -moz-linear-gradient(
		0% 100% 90deg, 
		#2e2e30 0%, 
		#46474a 96%,
		#3d3e3f 100%
	);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#2e2e30),
        color-stop(0.96, #46474a),
        to(#3d3e3f)     
    );
}
.yui3-skin-night .yui3-button,
.yui3-skin-night .yui3-button-disabled:hover {
	border-color: #0c0c0c;
	-moz-box-shadow: 0 1px #222222; 
	-webkit-box-shadow: 0 1px #222222;
	box-shadow: 0 1px #222222;
	background-color:#555658;
	background: -moz-linear-gradient(
		0% 100% 90deg, 
		#343536 0%, 
		#555658 96%,
		#3E3F41 100%
	);
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#343536),
        color-stop(0.96, #555658),
        to(#3E3F41)     
    );
}


.yui3-skin-night .yui3-button-back:hover:before {
	background: -moz-linear-gradient(
		0% 100% 45deg, 
		#2e2e30 0%, 
		#46474a 96%,
		#3d3e3f 100%
	);
    background: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from(#2e2e30),
        color-stop(0.96, #46474a),
        to(#3d3e3f)     
    );
}

.yui3-skin-night .yui3-button-selected,
.yui3-skin-night .yui3-button-selected:hover {
    background-color:#2B2D2D;
    background: -moz-linear-gradient(
    	0% 100% 90deg, 
    	#242526 0%, 
    	#3b3c3d 96%,
    	#2C2D2F 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(#242526),
        color-stop(0.96, #3b3c3d),
        to(#2C2D2F)     
    );
}

.yui3-skin-night .yui3-button-selected.yui3-button-back:before {
    background-color:#2B2D2D;
    background: -moz-linear-gradient(
    	0% 100% 45deg, 
    	#242526 0%, 
    	#3b3c3d 96%,
    	#2C2D2F 100%
    );
    background: -webkit-gradient(
        linear,
        left bottom,
        right top,
        from(#242526),
        color-stop(0.96, #3b3c3d),
        to(#2C2D2F)     
    );
}

.yui3-skin-night .yui3-button-disabled{
    color: #666;
}

.yui3-skin-night .yui3-button-icon {
    background-image: url("../assets/night_icons.gif");
}
